* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #region container*/
.container-main {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

.container-small {
    max-width: 700px;
    width: 60%;
    margin: 0 auto;
}

/* #endregion container*/



/* #region Debug */

.debug * {
    border: 1px dashed black;
}

.debug header {
    height: 81px;
    background-color: #3161e0;
}

.debug .banner {
    height: 540px;
    background-color: #8b24ab;
}

.debug .banner-main {
    height: 450px;
    background-color: chartreuse;
}

.debug .section-start {
    height: 800px;
    background-color: #b5b3b1;
}

.debug .immage {
    width: 30%;
    background-color: chocolate;
    height: 400px;
}

.debug .description {
    width: 70%;
    background-color: crimson;
    height: 400px;
}


/* #endregion Debug */

.intestation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pippo {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}