* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility*/

.container-main {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

.container-small {
    max-width: 700px;
    width: 60%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* #endregion utility*/


/* #region Debug */

.debug * {
    border: 1px dashed black;
}


.debug main .container-main {
    height: 400px;
    background-color: black;
}

.debug .container-small {
    height: 300px;
    background-color: chartreuse;
}

.debug .banner {
    height: 540px;
    background-color: #8b24ab;
    padding-top: 10%;
    padding-bottom: 10%;
}

main section {
    height: 800px;
    background-color: #b5b3b1;
    padding-top: 20%;
    padding-bottom: 20%;
}

.section-conclusive {
    background-color: #a53e2e;
    height: 1385px;
}

.debug .immage {
    width: 70%;
    background-color: chocolate;
    height: 100%;
}

.debug .description {
    width: 30%;
    background-color: crimson;
    height: 100%;
}


/* #endregion Debug */


/* .section-center .pippo .immage {
    order: 1;
    } 
    Funziona ma non è la cosa migliore guarda nella sezione utility .row-reverse  
    */
header {
    height: 81px;
    background-color: #3161e0;
}

.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.banner>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    height: 540px;
}

.btn-banner-dowload {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.btn-banner-open-discord {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0.5rem;
}